:root {
  font-size: calc(11px + 0.2vw);
  /* font-size: 16px; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --body-effect-delay: 0.7s;
  --clr-ff-brightwhite: black;
  --clr-light-white: rgb(55, 55, 55);
  --clr-primary: black;
  /* --clr-primary: rgba(0, 0, 0, 0.9); */
  --clr-secondary: white;
  --clr-tercery: rgb(222, 59, 59);
  /* --clr-page-background: linear-gradient(90deg,white 0%, black 70%, black 100%); */
  --clr-page-background: linear-gradient(1deg, var(--clr-primary) 0%, transparent 20%, transparent 80%, rgba(255, 255, 255, 0.2) 100%);
  /* --clr-page-background: none; */
  --clr-page-background2: linear-gradient(90deg, black 0%, transparent 50%, white 50%, transparent 60%, rgba(0, 0, 0, .9) 90%);
  --clr-page-background2: linear-gradient(90deg, black 0%, transparent 50%, transparent 80%, rgba(255, 255, 255, .9) 99%);
  --clr-canvas-background: linear-gradient(-190deg, transparent 10%, var(--clr-primary) 40%);
  --clr-canvas-background2: linear-gradient(-76deg, transparent 2%, var(--clr-secondary) 29%, transparent 30%);
  --clr-canvas-background2: linear-gradient(-56deg, transparent 2%, var(--clr-secondary) 49%, transparent 50%);
  --clr-canvas-background2: none;
  --clr-box-pre:  white;
  --bg-position: left;
  --clr-box-shadow: rgba(0, 0, 0, 1);
  --clr-theme-switch-bg: radial-gradient(circle at 52% 52%, transparent 0%, var(--clr-secondary) 10.5%, transparent 10.6%, var(--clr-secondary) 12%, transparent 13%, rgba(255, 255, 255, 0.2) 15%, rgba(255, 255, 255, 0.1) 33%, transparent 40%, rgba(255, 255, 255, 0.1) 43%, transparent 50%);
  --clr-theme-switch-bg: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.5) 0%, var(--clr-secondary) 10.5%, transparent 10.6%, var(--clr-secondary) 12%, transparent 13%, rgba(255, 255, 255, 0.2) 15%, rgba(255, 255, 255, 0.1) 33%, transparent 40%, rgba(255, 255, 255, 0.1) 43%, transparent 50%);

  --controls-ff-shadow: 0 0 1px white;
  --controls-clr-bg: rgb(14, 14, 14);
  /* --controls-clr-bg: rgba(0, 0, 0, 1); */
  --ff-game-info-opacity: .5;
  --clr-ff-game-info: rgba(255, 255, 255, var(--ff-game-info-opacity));
  --clr-game-info-header: rgba(0, 0, 0, .6);
  /* --gradient-game-info-header-bg: linear-gradient(5deg, var(--clr-ff-brightwhite) 20%, var(--clr-secondary) 70%); */
  --clr-test: rgb(58, 58, 58);
  --gradient-game-info-header-bg: linear-gradient(5deg, var(--clr-ff-brightwhite) 30%, var(--clr-secondary) 65%);
  --gradient-game-info-header-bg: linear-gradient(5deg, var(--clr-ff-brightwhite) 10%, var(--clr-test) 40%, var(--clr-secondary) 75%);
}

body {
  margin: 0;
}

.polarized {
  --clr-primary: white;
  --clr-light-white: rgb(227, 219, 219);
  /* --clr-primary: rgba(255, 255, 255, .9); */
  --clr-secondary: black;
  --clr-ff-brightwhite: white;
  --bg-position: right;
  /* --clr-page-bg-sky: rgba(0, 0, 0, 1); */
  --clr-page-background: linear-gradient(1deg, var(--clr-primary) 0%, transparent 20%, transparent 80%, black 100%);
  /* --clr-canvas-background: linear-gradient(-180deg, transparent 40%, var(--clr-secondary) 80%); */
  /* --clr-page-background: white; */
  --clr-box-pre:  black;
  /* --clr-box-shadow:  rgba(255, 255, 255, .8); */
  --clr-canvas-background: linear-gradient(-190deg, transparent 10%, white 50%, var(--clr-primary) 80%);
  /* --clr-canvas-background2: linear-gradient(-76deg, transparent 2%, black 29%, transparent 30%); */
  --clr-box-shadow:  white;
  --controls-clr-bg: rgb(255, 255, 255);
  --controls-ff-shadow: 0 0 1px black;
  /* --clr-theme-switch-bg: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.6) 0%, var(--clr-secondary) 10.5%, transparent 10.6%, var(--clr-primary) 11%, transparent 11%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.1) 33%, transparent 35%, rgba(0, 0, 0, 0.1) 43%, transparent 47%, rgba(0, 0, 0, 0.2) 55%, transparent 62%); */
  --clr-theme-switch-bg: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 0%, var(--clr-secondary) 10.5%, transparent 10.6%, var(--clr-secondary) 12%, transparent 13%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.1) 33%, transparent 35%, rgba(0, 0, 0, 0.1) 43%, transparent 47%, rgba(0, 0, 0, 0.2) 55%, transparent 62%);
  
  --clr-ff-game-info: rgba(0, 0, 0, var(--ff-game-info-opacity));
  --clr-game-info-header: rgba(255, 255, 255, .5);
  --gradient-game-info-header-bg: linear-gradient(5deg, var(--clr-ff-brightwhite) 10%, black 40%);
}

* {
  user-select: none;
}

button {
  opacity: 90%;
  border-bottom-right-radius: 1rem;
  border-width: .2rem;
  /* background: linear-gradient(4deg, var(--clr-primary) 5%, var(--clr-secondary) 90%); */
  /* border-right: none; */
  /* border-left: none; */
  /* border: none; */
  
  /* border: .25em double var(--clr-primary); */
  border: .2em double var(--clr-ff-brightwhite);
  /* border: none; */
  color: var(--clr-ff-brightwhite); 
  background: var(--clr-secondary);
  
  font-weight: 600;
  
  font-size: 1.7rem;
  font-family: inherit; 
  
  /* Toggle for reverse button */
  /* background: var(--clr-primary);
  border: .25em double var(--clr-secondary); 
  color: var(--clr-secondary); */

  /* text-shadow: 0 0 2px var(--clr-secondary); */

  padding: .2em 0;
  letter-spacing: .1rem;

  cursor: pointer;
  width: 100%;
  letter-spacing: 1;
  transition: letter-spacing 200ms linear;
}

button:hover {
  letter-spacing: 3;
}

button:focus  {
  outline: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  position: relative;
  display: inline-block;
}