:root {
  font-size: calc(11px + 0.2vw);
  font-family: Impact, 'Times New Roman', Times, serif;
  --ff-secondary: 'Courier New', Courier, monospace;
  --ff-tercery: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  --clr-arrows: rgba(0, 0, 0, .4);
  --clr-primary: black;
  --clr-secondary: white;
  --clr-tercery: rgb(222, 59, 59);

  --gradient-game-info-header-bg: linear-gradient(20deg, var(--clr-ff-brightwhite) 7%, var(--clr-light-white) 20%, white 35%);
  --gradient-canvas-bg: linear-gradient(-180deg, transparent 1%, var(--clr-secondary) 10%, black 90%);
  --gradient-canvas-bg: linear-gradient(-180deg, transparent 1%, var(--clr-secondary) 40%, black 62%);

  --gradient-page-bg: linear-gradient(180deg, black 3%, white 12%, white 46%, white 53%, black 62%, black 70%);
  --gradient-page-bg: linear-gradient(180deg, white 6%, white 15%, white 36%, white 44%, black 46%, black 50%, black 50%, black 56%, black 65%, black 94%, white 96%);

  --gradient-theme-switch-bg: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 0%, var(--clr-primary) 10.5%, transparent 10.6%, var(--clr-primary) 12%, transparent 13%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.9) 33%, transparent 40%, rgba(255, 255, 255, 0.3) 42%, transparent 45%, rgba(0, 0, 0, .9) 46%, transparent 67%);
  --gradient-tetris-header-bg: linear-gradient(176deg, var(--clr-primary) 30%, var(--clr-secondary) 70%);
  --gradient-tetris-header-bg: linear-gradient(160deg, var(--clr-secondary) 20%, var(--clr-primary) 50%);
  --gradient-tetris-header-bg-shadow: linear-gradient(0deg, white 70%, var(--clr-primary) 100%);

  --clr-button-start: rgb(12, 29, 2);
  --clr-button-start-game: var(--clr-button-start);
  
  --position-page-bg: top;

  --w-btn-small: 25%;

  --thickness-canvas-border: ;

  --time-bg-transition: 300ms;
  --time-game-over-transition: 500ms;
  --time-first-piece-animation: ;

  --animation-first-piece: first-piece-animation 1000ms ease infinite alternate-reverse;
  --animation-piece-effect: first-piece-effect var(--time-first-piece-animation) ease-out;
  
  --shadow-tetris-header: .02em .03em 0em rgba(255, 255, 255, .4);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.polarized {
  --clr-primary: white;
  --clr-secondary: black;
  --clr-arrows: rgba(255, 255, 255, .4);

  --gradient-theme-switch-bg: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 0%, var(--clr-primary) 10.5%, transparent 10.6%, var(--clr-primary) 12%, transparent 13%, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.9) 33%, transparent 40%, rgba(0, 0, 0, 0.3) 42%, transparent 45%, rgba(255, 255, 255, .4) 46%, transparent 67%);
  --gradient-tetris-header-bg: linear-gradient(160deg, var(--clr-secondary) 20%, var(--clr-primary) 50%);
  --gradient-tetris-header-bg-shadow: linear-gradient(0deg, black 70%, var(--clr-primary) 100%);
  --gradient-game-info-header-bg: linear-gradient(20deg, var(--clr-ff-brightwhite) 7%, var(--clr-light-white) 20%, black 35%);
  --gradient-canvas-bg: linear-gradient(-180deg, transparent 1%, var(--clr-secondary) 10%, white 90%);
  --gradient-canvas-bg: linear-gradient(-180deg, transparent 1%, var(--clr-secondary) 45%, white 82%);




  --position-page-bg: bottom;
  
  --shadow-tetris-header: .02em .03em 0em rgba(0, 0, 0, .4);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--ff-tercery);
}
