:root {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --body-effect-delay: 0.7s;
  --clr-ff-brightwhite: black;
  
  --clr-primary: black;
  --clr-primary: rgba(0, 0, 0, 0.9);
  --clr-secondary: white;
  --clr-tercery: rgb(255, 73, 73);
  --clr-page-background: linear-gradient(90deg,white 0%, black 70%, black 100%);
  --clr-page-background: linear-gradient(70deg, black 5%, white 25%, white 50%, black 70%);
  --clr-canvas-background: white;
  --clr-box-pre:  white;
  --bg-position: left;
  --clr-box-shadow: rgba(0, 0, 0, 1);

  --controls-ff-shadow: 0 0 1px black;
  --controls-clr-bg: rgba(0, 0, 0, .2);
}

.polarized {
  --clr-primary: white;
  --clr-primary: rgba(255, 255, 255, .5);
  --clr-secondary: black;
  --clr-ff-brightwhite: white;
  --bg-position: right;
  /* --clr-page-background: white; */
  --clr-box-pre:  black;
  /* --clr-box-shadow:  rgba(255, 255, 255, .8); */
  --clr-box-shadow:  white;
  --clr-canvas-background: black;
  --controls-clr-bg: rgba(255, 255, 255, .1);
  --controls-ff-shadow: 0 0 1px white;
}

* {
  user-select: none;
}

button {
  opacity: 90%;
  border-bottom-right-radius: 1rem;
  border-width: .2rem;
  /* background: linear-gradient(4deg, var(--clr-primary) 5%, var(--clr-secondary) 90%); */
  background: var(--clr-primary);
  background: var(--clr-secondary);
  /* border: none; */
  border: .7rem double var(--clr-ff-brightwhite);
  
  font-weight: 600;
  font-size: 1.8rem;
  font-family: inherit;
  /* color: var(--clr-ff-brightwhite); */
  color: var(--clr-ff-brightwhite);
  text-shadow: 0 0 2px var(--clr-secondary);
  padding: .3em 0;
  letter-spacing: .1rem;

  cursor: pointer;
  width: 100%;
  letter-spacing: 1;
  transition: letter-spacing 200ms linear;
}

button:hover {
  letter-spacing: 3;
}

button:focus  {
  outline: none;
}

h2 {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  position: relative;
  display: inline-block;
}