.page-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  /* background: var(--gradient-page-bg); */
  background: var(--gradient-page-bg);
  background-size: 100% 200%;
  background-position-y: var(--position-page-bg);
  transition: background-position-y var(--time-bg-transition) ease-out;
}

.page-container::after {
  content: "";
  width: 320%;
  left: 0%;
  top: -2%;
  height: 100%;
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background: radial-gradient(circle at 0% 20%, rgba(0,0,0,.8) 1%, transparent 10%), var(--gradient-page-bg-top);
  background: radial-gradient(ellipse at 2% 25%, rgba(255,255,255,.2) 1%, transparent 8%), var(--gradient-page-bg-top);
  /* background: radial-gradient(circle at top left, white 10%, transparent 30%); */
}

.background-img {
  position: absolute;
  width: auto;
  height: 70%;
  height: 60%;
  bottom: 0;
  /* right: -10%; */
  /* left: -10%; */
  left: -70px;
  filter: blur(.1em);
  transform: scaleX(-1);
  opacity: .3;
}

.background-img-fill {
  fill: var(--clr-primary);
}

.page-container button {
  opacity: .9;
  /* border-bottom-right-radius: 1rem; */
  border-width: .2rem;
  border: 2px solid var(--clr-primary);
  border-bottom: 4px solid rgb(122, 122, 122);
  border-right: 4px solid rgb(122, 122, 122);
  border-left-color: var(--clr-secondary);
  border-bottom-color: var(--clr-secondary);
  border-bottom-color: rgb(122, 122, 122);
  border-right-color: rgb(122, 122, 122);
  color: var(--clr-secondary); 
  background: var(--clr-primary);
  border-radius: .4rem;
  border-top-left-radius: 0;
  
  /* background: var(--clr-button-start-game); */
  
  font-weight: 600;
  
  font-size: 1.7rem;
  font-family: inherit; 

  padding: .1em 0 .15em;
  letter-spacing: .1rem;

  cursor: pointer;
  width: 90%;
  letter-spacing: 1;
  transition: letter-spacing 200ms linear;
}

#pauseButton {
  display: none;
  color: var(--clr-tercery);
}

#playButton {

}

.page-container button:hover {
  letter-spacing: 3;
  opacity: 1;
}

.page-container button:focus  {
  outline: none;
}

.bottom-aligned-background {
  background-position-y: bottom;
}

.tetris-container {
  position: relative;
  z-index: 1;
  height: min(720px, 90%);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.tetris-container::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 3px;
  left: -25%;
  bottom: -3px;
  background: var(--clr-secondary);

}

#myCanvas {
  height: 100%;
  overflow: visible;
  z-index: 1;
  background: var(--gradient-canvas-bg);

  border: var(--thickness-canvas-border) solid var(--clr-secondary);
  /* box-shadow: 0 -.15rem .1rem .1rem inset var(--clr-primary), 0 0 .1rem .0rem var(--clr-primary); */
  box-shadow: 0 -.1rem .1rem .05rem inset var(--clr-primary);

  border-top: none;
  border-top-color: transparent;
  border-bottom: none;
  /* --border-radius-my-canvas: 5%; */
  border-top-left-radius: var(--border-radius-my-canvas);
  border-top-right-radius: var(--border-radius-my-canvas);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Game controls */
.game-info__content {
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

.game-info__controls {
  box-sizing: border-box;
  font-size: 1.3rem;
  letter-spacing: -.1em;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 2em;
  padding-bottom: 1.7em;
  line-height: 1;
  background: var(--clr-secondary);
  background: transparent;
  /* background: radial-gradient(ellipse at 50% 0%, var(--clr-primary) 10%, transparent 30%); */
  background-size: 360% 30%;
  background-repeat: no-repeat;
  background-position: 60% -10%;
  border: 2px solid var(--clr-primary);
  /* border-left: none; */
  border-right: none;
  border-bottom: none;
  border-left-width: 2px;
  border-top-right-radius: 5%;
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  list-style-type: none;
}

.game-info__controls > *:first-child {
  padding-bottom: .3rem;
}

.game-info__controls ul {
  list-style: none;
}

.game-info__controls b {
  display: inline-block;
  padding-left: .0ch;
  font-size: 1.3em;
}

.controls__control {
  color: var(--clr-primary);
}

.press-highlight {
  position: relative;
  bottom: .1em;
  /* color: var(--clr-secondary); */
  text-shadow: -.05em -.05em .1em var(--clr-primary);
  background: radial-gradient(ellipse at center, var(--clr-primary) 5%, var(--clr-secondary) 80%);
  background-size: 100% 20%;
  background-position: 120% 100%;
  
  opacity: .6;
  padding: 0 .5em 0 0;
  background-repeat: no-repeat;
  /* margin-right: .3em; */
  /* margin-left: .1em; */
}

.key-highlight {
  letter-spacing: 0px; 
  font-size: 1.15rem;
  background: var(--clr-primary);
  border-radius: .2rem;
  display: inline-block;
  /* opacity: .2; */
  font-weight: 900;
  font-size: 1.5rem;
  padding: .15rem .49rem .05rem .4rem;
  border: 4px solid rgb(122, 122, 122);
  border-top: none;
  border-left: none;
  /* text-shadow: 0 0 10px var(--clr-primary); */
  color: var(--clr-secondary);
}

.game-info__description_content {
  position: relative;
  display: inline-block;
}

.game-info__description_content:not(.game-info__description_content:first-child) {
  margin-left: 2rem;
}

.control-description-wrapper {
  position: relative;
  bottom: .1em;
  /* opacity: .5; */
  /* left: .1em; */
  /* bottom: -.1em; */

  color: var(--clr-primary);
  /* filter: drop-shadow(.1em .1em .05em var(--clr-primary)); */
  filter: drop-shadow(.15em .1em .05em rgb(122,122,122));
  /* color: var(--clr-secondary);
  filter: drop-shadow(.0em .0em .1em var(--clr-primary)); */
  display: block;
  /* width: 100%; */
  /* padding-top: 2.1ch; */
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 0ch;
  /* margin-bottom: 1ch; */
  /* text-shadow: -.05em -.05em var(--clr-tercery); */
  /* text-shadow: 0 0 9px var(--clr-primary); */
}

.control-description-wrapper::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 80%;
  left: -5%;
  /* border: 2px solid var(--clr-primary); */
  border-left: none;
  border-right: none;
  
  bottom: 0;
}

.controls__arrowkeys {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: 38px;
  gap: .2rem;
  padding: 1.5em 3em 2.5em 2.2em;
  font-weight: bold;
}

div[class^="arrowkeys"] {
  position: relative;
  /* border: 2px solid var(--clr-primary); */
  border: 4px solid rgb(122, 122, 122);
  border-top: none;
  border-left: none;
  background: var(--clr-primary);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.arrowkeys__up::after {
  content: "";
  right: -70%;
  bottom: 44%;
  position: absolute;
  width: 100%;
  border-bottom: 3px solid var(--clr-arrows);
}

.arrowkeys__up::before {
  content: "Rotate";
  bottom: 50%;
  right: -150%;
  position: absolute;
}

div[class$="keys__right"] > div {
  transform: rotate(90deg);
}

.arrowkeys__right::after {
  content: "";
  right: -67%;
  bottom: 10%;
  position: absolute;
  width: 100%;
  height: 64%;
  transform: rotate(-35deg);
  border-left: 3px solid var(--clr-arrows);
}

.arrowkeys__right::before {
  content: "Move right";
  right: -110%;
  bottom: -70%;
  position: absolute;
  overflow: visible;
}

div[class$="keys__down"] > div {
  transform: rotate(180deg);
}

.arrowkeys__down::after {
  content: "";
  right: -53%;
  bottom: -61%;
  position: absolute;
  width: 100%;
  height: 85%;
  border-left: 3px solid var(--clr-arrows);
}

.arrowkeys__down::before {
  content: "Move down";
  right: -60%;
  bottom: -110%;
  position: absolute;
  overflow: visible;
}

div[class$="keys__left"] > div {
  transform: rotate(270deg);
}

.arrowkeys__left::after {
  content: "";
  right: -23%;
  bottom: -55%;
  position: absolute;
  width: 100%;
  height: 55%;
  transform: rotate(35deg);
  border-left: 3px solid var(--clr-arrows);
}

.arrowkeys__left::before {
  content: "Move left";
  right: -5%;
  bottom: -60%;
  position: absolute;
  overflow: visible;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid var(--clr-secondary);
}

.arrowkeys__up {
  grid-row-start: 1;
  grid-column-start: 2;
}
.arrowkeys__right {
  grid-row-start: 2;
  grid-column-start: 3;
}
.arrowkeys__down {
  grid-row-start: 2;
  grid-column-start: 2;
}
.arrowkeys__left {
  grid-row-start: 2;
  grid-column-start: 1;
}

.controls__svg-arrowkeys > rect {
  stroke: var(--clr-primary);
}

.controls__svg-arrowkeys path {
  fill: var(--clr-primary);
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Theme switch */
#themeSwitch {
  position: absolute;
  z-index: 0;
  left: -42%;
  bottom: -140%;
}

#themeSwitch::after {
  content: "";
  position: absolute;
  z-index: -10000;
  width: 550%;
  height: 550%;
  /* left: -145%;
  top: -145%; */
  left: -225%;
  top: -225%;
  border-radius: 50%;
  transform: scale(.8);
  /* border: 8px dashed var(--clr-secondary); */
  /* border-style: ; */
  opacity: .5;
  /* filter: blur(.4em); */
  background: var(--clr-primary);
  transition: transform 150ms ease;
}

#themeSwitch:hover::after {
  transform: scale(1);
  opacity: 1;
}

#themeSwitch:hover .icon-text {
  transform: translateX(-10%);
  animation: none;
  opacity: 1;
}

.theme-switch__background {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  width: 1000%;
  height: 1000%;
  background: var(--gradient-theme-switch-bg);
  transition: transform 200ms ease-out;
}

.theme-switch-icon {
  position: relative;
  background: radial-gradient(circle at center, var(--clr-primary), transparent 70%);
  opacity: .2;
  width: 2.2rem;
  height: 2.2rem;
  transition: opacity 200ms ease-in;
}

.icon-text {
  font-family: fantasy;
  font-size: 1rem;
  font-weight: 900;
  font-family: monospace;
  position: absolute;
  z-index: 1000;
  color: var(--clr-secondary);
  opacity: .5;
  text-shadow: 0 0 .2em var(--clr-primary);
  text-shadow: .2em .14em .12em var(--clr-primary);

  bottom: 1rem;
  left: 56%;

  bottom: 1.3rem;
  left: 28%;
  transition: transform 400ms ease;
  animation: icon-text-animation 5000ms ease-in-out infinite;
}

@keyframes icon-text-animation {
  0% {
    transform: translate(-2px, 0);
  }
  50% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 0);
  }
}

.tetris__header {
  position: absolute;
  z-index: -20;
  letter-spacing: 0rem;
  left: -20vw;
  top: -10%;
  font-family: inherit;

  font-weight: 100;
  font-size: 1.4rem;
}

.tetris__header > h1 {
  pointer-events: none;
  position: relative;
  bottom: -4.1ch;
  left: -3.4ch;
  z-index: 10;
  color: var(--clr-secondary);

  background: var(--gradient-tetris-header-bg);
  text-shadow: var(--shadow-tetris-header);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  left: -33%;
}

.tetris__header > h1::after {
  content: "TETRIS";
  position: absolute;
  text-shadow: none;
  overflow: visible;
  font-size: 1.84em;
  width: 200%;
  color: var(--clr-secondary);
  background: var(--gradient-tetris-header-bg-shadow);
  opacity: .4;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: -10000000;
  left: -3.88ch;
  font-size: 1.4em;
  bottom: -1.43ch;
  transform: perspective(.4em) rotateX(-155deg) scaleY(1) translateX(2.2em);
}

.theme-switch__cloud1 {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 10;
  filter: blur(.17em);
  bottom: -170%;
  left: -133%;
  height: 140%;
  width: 202%;
  animation: anim-cloud1 35000ms linear forwards infinite alternate-reverse;
}

@keyframes anim-cloud1 {
  0%  {
    transform: translateX(0);
  }
  100%  {
    transform: translateX(-70%);
  }
}

.theme-switch__cloud1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at 50% 80px, var(--clr-secondary) 50%, var(--clr-primary) 90%);
  opacity: 1;
  clip-path: polygon(81% 17%, 71% 11%, 56% 11%, 50% 20%, 48% 32%, 49% 38%, 45% 38%, 37% 37%, 26% 40%, 22% 51%, 21% 63%, 23% 71%, 14% 69%, 8% 68%, 2% 71%, 1% 88%, 8% 97%, 24% 100%, 51% 99%, 75% 93%, 93% 87%, 97% 73%, 96% 56%, 86% 48%, 78% 48%, 83% 34%);
}

.theme-switch__cloud2 {
  pointer-events: none;
  content: "";
  position: absolute;
  filter: blur(.25em);
  z-index: -10000;
  bottom: -100%;
  opacity: .7;
  left: -25%;
  height: 60%;
  width: 139%;
  transform: translateX(0);
  animation: anim-cloud2 40000ms ease-out forwards infinite alternate-reverse;
}

.theme-switch__cloud2:last-of-type {
  z-index: 10000;
  width: 200%;
  height: 50%;
  opacity: .4;
  filter: blur(.3em);
  bottom: -256%;
  left: -70%;
}

@keyframes anim-cloud2 {
  0%  {
    transform: translateX(0);
  }
  100%  {
    transform: translateX(70%);
  }
}

@keyframes piece-removal-animation {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(.98, .7);
    border-radius: 0;
  }
  15% {
    opacity: .8;
    transform: translate(0, 0) rotate(0deg) scale(.9, .2);
    border-radius: 0;
  }
  /* 60% {
    opacity: .4;
    transform: translate(0%, -200%) rotate(4deg) scale(.75, .1);
    border-radius: 0;
  } */
  100% {
    opacity: 0;
    transform: translate(0%, -2400%) rotate(90deg) scale(.88, .1);
    border-radius: 0;
  }
}

.theme-switch__cloud2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-primary);
  background: radial-gradient(ellipse at 45% 110%, var(--clr-primary) 60%, var(--clr-secondary) 60%);
  clip-path: polygon(81% 17%, 71% 11%, 56% 11%, 50% 20%, 48% 32%, 49% 38%, 45% 38%, 37% 37%, 26% 40%, 22% 51%, 21% 63%, 23% 71%, 14% 69%, 8% 68%, 2% 71%, 1% 88%, 8% 97%, 24% 100%, 51% 99%, 75% 93%, 93% 87%, 97% 73%, 96% 56%, 86% 48%, 78% 48%, 83% 34%);
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* State info */
#score {
  padding-right: 5rem;
  letter-spacing: -.1rem;
  font-size: 1.85em;
  width: 100%;
  margin-left: -6%;
  padding-left: 2rem;
  border: 2px solid var(--clr-secondary);
  filter: hue-rotate(0deg);
  animation: score-hue-rotate 8000ms ease-in-out infinite;
  
  /* border-top-color: var(--clr-primary); */
  /* border-left: none; */
  border-right: none;
  color: var(--clr-secondary);
  text-shadow: .05em .05em .1rem var(--clr-tercery);
  color: var(--clr-tercery);
  text-shadow: .05em .05em .5rem var(--clr-secondary);
  text-shadow: .05rem .05rem .2rem var(--clr-secondary);
  text-shadow: .05rem .05rem .2rem var(--clr-primary);
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes score-hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  40% {
    filter: hue-rotate(40deg);
  }
  50% {
    filter: hue-rotate(240deg);
  }
  70% {
    filter: hue-rotate(-40deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.scoreboard {
  display: flex;
  align-items: center;
  position: relative;
  z-index: -100;
  font-size: 1rem;
  font-size: 1.2rem;
  height: 50px;
  width: 78%;
  padding: .1em 0 .3em 1em;
  background: var(--clr-primary);
  background: linear-gradient(90deg, var(--clr-primary) 70%, transparent 90%);
  background: linear-gradient(0deg, var(--clr-secondary) 5%, transparent 30%, transparent 60%, var(--clr-secondary) 95%), linear-gradient(90deg, var(--clr-primary) 70%, transparent 90%);
  background: linear-gradient(-3.5deg, var(--clr-secondary) 10%, transparent 15%, var(--clr-secondary) 25%), linear-gradient(90deg, var(--clr-primary) 70%, transparent 80%);
  /* background: linear-gradient(84deg, var(--clr-primary) 29%, var(--clr-secondary) 31%); */
  color: var(--clr-secondary);
  margin: 0 0;
  /* border-bottom: 3px solid var(--clr-secondary); */
  left: -4px;
  /* border-top-right-radius: 1rem; */
  /* border-top-left-radius: 1rem; */
  opacity: 0;

  transition: opacity 200ms ease-out;
}

.scoreboard > h2:first-child {
  opacity: .5;
  /* opacity: 0; */
  text-shadow: .1em 0em .2rem var(--clr-primary);
  font-size: 1.2em;
  /* margin-left: .2em; */
  display: block;
  position: absolute;
  left: 72%;
  bottom: -5%;
}

.state-info {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-block: auto;
}

.state-info__level {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 70%;
  top: 5%;
  overflow: hidden;
  white-space: nowrap;
  color: var(--clr-primary);
}

#lvl {
  opacity: 0;
  animation: lvl-animation 500ms ease forwards;
  background: none;

  transform: translateX(50%) scale(1.3);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: -3px;
  font-size: 2rem;
}

@keyframes lvl-animation {
  0% {
    transform: translateX(50%) scale(1.3);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: .5;
  }
}

#gamePaused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--clr-tercery);
  text-shadow: .08rem .05rem .1rem var(--clr-primary);
  font-size: 2.8rem;
}

#finalScore {
  position: absolute;
  width: 100%;
  top: 68%;
  color: var(--clr-tercery);
  font-size: 2.8rem;
  text-align: center;
  margin-top: -1rem;
  padding-bottom: .2rem;
  text-shadow: 0 0 3px var(--clr-primary);
  opacity: 90%;
}

.state-info__game-over {
  opacity: 1;
}

.game-over-text {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: block;
  z-index: 10000;
  opacity: 0;
  /* width: 4ch; */
  width: 100%;
  text-align: center;
  margin: 0;
  margin-inline: auto;
  background: none;
  font-size: 6.2rem;
  color: var(--clr-primary);
  text-shadow: 0 0 .1em var(--clr-tercery);
  transition: opacity var(--time-game-over-transition) ease;
}

.game-over-text__game {
  transform: translateX(-200%);
  transition: transform 500ms ease-in;
  width: 100%;
}

.game-over-text__over {
  transform: translateX(200%);
  transition: transform 500ms ease-in;
  width: 100%;

}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Piece stack */

.state-info__piece-stack {
  position: relative;
  pointer-events: none;
  display: flex;
  z-index: 1000000;
  box-sizing: border-box;
  color: var(--clr-primary);
  padding-left: 5%;
  left: 7%;
  opacity: 0;
  width: 100%;
  --height: 4rem;
  width: calc(var(--height) * 5);
  height: var(--height);
}

/* .state-info__piece-stack::before {
  content: "Next";
  position: absolute;
  color: var(--clr-tercery);
  opacity: .4;
  padding-left: 1rem;
  border-bottom: 2px solid var(--clr-primary);
  bottom: 5px;
  left: -13%;
} */

.state-info__piece-stack::after {
  content: " ";
  position: absolute;
  width: 95%;
  bottom: 0;
  height: 100%;
  /* border-bottom-right-radius: .5rem; */
  border: 1px solid var(--clr-primary);
  height: 10%;
  /* background: var(--clr-primary); */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-right-radius: 50%;

  left: -10%;
}

.piece-stack__piece {
  position: relative;
  height: 100%;
  width: 20%;
  bottom: -1rem;
}

.piece-stack__square {
  display: inline-block;
  position: absolute;
  background: var(--clr-primary);
}

.state-info__piece-stack > *:first-child {
  --first-piece-rotation: 0deg;
  --first-piece-scale: 1.5;
  transform: rotate(var(--first-piece-rotation)) scale(var(--first-piece-scale));
  animation: var(--animation-first-piece);
}

@keyframes first-piece-animation {
  0% {
    transform: translateX(-10%) rotate(5deg) scale(1.5);
  }
  100% {
    transform: translateX(10%) rotate(-5deg) scale(1.5);
  }
}

.piece-stack__effect-piece {
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: 10000;
  --piece-size: 20%;
  width: 40%;
  height: 20%;
  animation: var(--animation-piece-effect);
  transform: translateY(0%) translateX(200%);
}
 
@keyframes first-piece-effect {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(200%);
  }
  100% {
    opacity: .0;
    transform: translateY(-55%) translateX(0);
  }
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////7 */
/* Highscore */

.highscore-wrapper {
  height: 40%;
  position: absolute;
  z-index: 1000;
  left: -69.7%;
  left: -89.7%;
  width: 90%;
  bottom: 27%;
  font-size: 1.5rem;
  border: 2px solid var(--clr-primary);
  border-bottom: none;
  border-right: none;
  border-left-color: var(--clr-secondary);
  background: var(--clr-secondary);
  background: transparent;
  /* background: linear-gradient(0deg, transparent 5%, var(--clr-primary) 90%); */
  /* background: var(--clr-primary); */
  /* color: var(--clr-primary); */
}

.highscore-wrapper .highscores__score:not(.highscores__score:last-child) {
  border-bottom: 2px solid var(--clr-secondary);
}

.highscore-wrapper::before {
  content: "Highscores";
  position: absolute;
  color: var(--clr-primary);
  background: var(--clr-secondary);

  top: -2.7ch;
  width: 8.8ch;
  /* left: 15%; */
  left: 0;
  /* text-align: center; */
  /* border-top: 2px solid currentColor; */
  /* border-top-left-radius: 10%; */
  /* border-top-right-radius: 10%; */
}