body {
  overflow-y: hidden;
  margin: 0;
}

#myCanvas {
  /* min-height: 100%; */
  /* max-height: 100%; */
  height: 100%;
  overflow: visible;
  height: 98vh;
  max-height: 750px;
  z-index: 1;
  background: var(--clr-canvas-background);
  background: linear-gradient(97deg, transparent 75%, var(--clr-primary) 100%),
    linear-gradient(-170deg, transparent 85%, var(--clr-primary) 100%);
  background-repeat: no-repeat, no-repeat;

  box-shadow: 0 150px 10em 1em inset var(--clr-secondary);
  --border-thickness: 7px;
  border: var(--border-thickness) none var(--clr-secondary);

  border-radius: 1rem;
  border-top-right-radius: 10%;
  border-top-left-radius: 20%;
}

#lvl {
  background: none;
  /* color: var(--clr-primary); */
  font-size: 3rem;
}

#gamePaused {
  text-align: center;
  color: var(--clr-tercery);
  font-size: 3rem;
}

#score {
  padding-right: 5rem;
  letter-spacing: -.1rem;
  color: var(--clr-ff-brightwhite);
  text-shadow: 0 0 .2rem var(--clr-primary);
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* padding-right: auto; */
}

#finalScore {
  color: var(--clr-tercery);
  font-size: 2.4rem;
  text-align: center;
  margin-top: -1rem;
  padding-bottom: .2rem;
  text-shadow: 0 0 5px var(--clr-primary);
  opacity: 70%;
}

#toggleControls {
  color: var(--clr-primary);
}

.page-container {
  display: flex;
  /* box-sizing: border-box; */
  overflow-x: hidden;
  justify-content: center;
  position: relative;
  padding: var(--padding-top-and-bottom) 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(10deg, black 0%, transparent 50%), var(--clr-page-background);
  background-repeat: no-repeat, no-repeat;
  background-size: 200%, 200%;
  background-position-x: var(--bg-position);
  transition: background-position-x .2s ease-in-out, color 1s ease-in-out;
  /* transition-delay: var(--body-effect-delay); */
}

.tetris-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  top: 0;
}

/* .left-side {
  position: relative;
  z-index: -100;
  flex-grow: 1;
}

.right-side {
  flex-grow: 1;
} */



/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////         GAME INFO           //////////////////////////////        */

.game-info {
  display: block;
  position: relative;
  font-size: 16px;
  margin-top: 20vh;
}

.game-info__header {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  letter-spacing: .5rem;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: inherit;
  text-shadow: 0 0 .4rem var(--clr-primary);
  font-size: 3rem;
  padding-left: 1rem;
  color: var(--clr-secondary);
}

.signature {
  opacity: 50%;
  position: absolute;
  top: .84rem;
  left: 11.4rem;

  font-family: serif;
  color: var(--clr-primary);
  font-size: 1rem;
  text-shadow: 0.1rem -0.1rem 0.1rem var(--clr-secondary);
}

.game-info__controls {
  /* height: 0; */
  position: relative;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 7vh 4em;
  overflow: hidden;
  background: linear-gradient(0deg, var(--clr-primary) 0%, var(--controls-clr-bg) 10%, transparent 40%, transparent 60%, var(--controls-clr-bg) 90%, var(--clr-primary) 100%);
  text-shadow: var(--controls-ff-shadow);
  /* background-color: white; */
  border-top-right-radius: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--clr-ff-brightwhite);
  opacity: .8;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.theme-switch-icon {
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 314px;
  /* background: var(--clr-primary); */
  color: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  box-shadow: 1rem 0 .1rem 1rem var(--clr-primary);
  
  font-family: fantasy;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 .3rem var(--clr-primary);
  
  border: .5rem solid var(--clr-secondary);
  border-top: none;
  border-right: none;
  border-radius: 999999px;
  
  transition: transform .2s ease-in-out, background .7s, box-shadow .5s ease;
}

.theme-switch-icon:hover {
  transform: scale(1.1) translate(.5rem, -.5rem);
  /* color: var(--clr-primary); */
  box-shadow: 1rem 0 2rem 3rem var(--clr-box-shadow);
  border-color: var(--clr-primary);
  background: var(--clr-secondary);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  letter-spacing: .2rem;
  width: 70%;
  padding: .35em .5em;
  /* color: var(--clr-ff-brightwhite); */
  color: transparent;
  /* background: var(--clr-secondary); */
  background: radial-gradient(ellipse at 50px 40px, var(--clr-primary) 80%, var(--clr-secondary) 100%);
  background-size: 50% 80%;
  -webkit-background-clip: text;
  background-clip: text;
  border: .7rem double var(--clr-primary);
  border-top-right-radius: 1rem;
  /* background-color: var(--clr-secondary); */
}

.state-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-block: auto;
  /* overflow: hidden; */
  /* width: calc(37.5vh + 0.3rem); */
  /* width: calc(37.5vh + 0.3rem); */
  /* height: calc(100% - (2 * var(--padding-top-and-bottom))); */
}

.state-info__level {
  transform: translateY(-120%);
  z-index: 100;
  overflow: hidden;
  white-space: nowrap;
  color: var(--clr-primary);
}
 
.state-info__game-over {
  opacity: 1;
}

.game-over-text {
  position: relative;
  z-index: 10000;
  opacity: 0;
  width: 4ch;
  text-align: center;
  margin: 0;
  margin-inline: auto;
  background: none;
  font-size: 7.2rem;
  color: white;
}

.mobile-controls-wrapper {
  display: none;
}

.mobile-controls {
  position: inherit;
  height: 14rem;
  width: 21rem;
}

.mobile-controls > div{
  box-sizing: border-box;
  position: absolute;
  background: ghostwhite;
  text-align: center;
  font-size: 5rem;
  height: 7rem;
  width: 7rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
}

.js-arrow-up {
  left: 7rem;
}

.js-arrow-left {
  top: 7rem;
}

.js-arrow-right {
  top: 7rem;
  right: 0;
}

.js-arrow-down {
  left: 7rem;
  bottom: 0;
}

