:root {
    font-size: 1vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --color-primary: black;
    --color-secondary: white;
    --color-tercery: rgb(255, 73, 73);
    --color-page-background: black;
    --color-canvas-background: white;
    --color-box-pre:  white;
    --color-box-shadow: rgba(0, 0, 0, 1);
    --color-controls-bg: rgba(255, 255, 255, .5);
    
    --button-font-size: 4rem;
}

.polarized {
    --color-primary: white;
    --color-secondary: black;
    --color-page-background: white;
    --color-box-pre:  black;
    /* --color-box-shadow:  rgba(255, 255, 255, .8); */
    --color-box-shadow:  white;
    --color-canvas-background: black;
    --color-controls-bg: rgba(0, 0, 0, .5);
}

* {
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow: hidden;
}

button {
    opacity: 90%;
    border-radius: 1rem;
    border-width: .2rem;
    background: linear-gradient(4deg, var(--color-primary) 5%, var(--color-secondary) 90%);
    border-color: var(--color-secondary);
    
    font-weight: 600;
    font-size: var(--button-font-size);
    font-family: inherit;
    color: var(--color-primary);
    text-shadow: -1px -2px 2px var(--color-secondary);
    letter-spacing: .2rem;

    cursor: pointer;
    width: 100%;
}

button:focus  {
    outline: none;
}

h1 {
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    letter-spacing: .5rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: inherit;
    text-shadow: -1rem 0 1.5rem var(--color-primary);
    font-size: 5rem;
    background: linear-gradient(359deg, var(--color-primary) 10%, var(--color-secondary) 90%);
}

h2 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    opacity: 90%;
    text-shadow: -1px 0px 7px var(--color-primary);
}

a {
    position: relative;
    top: 0;
    z-index: 10;
}

#myCanvas {
    height: 100%;
    width: auto;
    z-index: 1;
    background: var(--color-canvas-background);
}

#lvl {
    background: none;
    /* color: var(--color-primary); */
    font-size: 5rem;
}

#gamePaused {
    text-align: center;
    color: var(--color-tercery);
    font-size: 8rem;
    margin-top: -15rem;
}

#normButton {
    position: relative;
    margin-top: -7rem;
}

#score {
    padding-right: 10rem;
}

#finalScore {
    color: var(--color-tercery);
    font-size: 5rem;
    text-align: center;
    margin-top: 10vh;
    text-shadow: 2px 2px 2px var(--color-primary);
    opacity: 70%;
}

#toggleControls {
    color: var(--color-primary);
}

.page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--color-page-background);
    padding-top: 2rem;
    transition: background .3s ease-in, color .6s ease-in-out;
    transition-delay: .7s;
}

.game-container {
    height: 95%;
    /* width: 39%; */
    width: 41rem;
}

.game-info {
    font-size: 2rem;
    width: 50rem;
    height: 50rem;
    background: linear-gradient(199deg, var(--color-primary) 20%, var(--color-secondary) 70%, var(--color-primary) 90%);
}

.game-info__controls {
    /* height: 0; */
    overflow: hidden;
    background: var(--color-controls-bg);
    border-bottom-right-radius: 10rem;
}

.hide-controls__arrow {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;

    cursor: pointer;

    text-align: center;
    background: rgba(255, 255, 255, .5);
    color: var(--color-primary);
    transition: transform .3s ease-out;
}

.upside-down {
    transform: rotate(180deg);
}

.hidden {
    opacity: 0;
}

.game-info h1, h2 {
    padding-left: 1rem;
}

.game-info > h1 {
    color: var(--color-secondary);
}

.game-info > ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-primary);
    width: 100%;
    margin: 0;
    padding-left: 4rem;
    list-style-type: none;
    padding-top: 5%;
    padding-bottom: 5%;

    margin-bottom: 20%;
}

.game-info ul {
    list-style-type: none;
}

.theme-switch-icon {
    position: absolute;
    content: " ";
    background: var(--color-primary);
    color: var(--color-secondary);
    right: -25vw;
    top: -12vh;
    width: 5rem;
    height: 5rem;

    /* box-shadow: inset 4rem 1rem gold; */

    /* inset | offset-x | offset-y | color */
    /* box-shadow: inset 5em 1em gold; */

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1rem 0 .1rem 2rem var(--color-primary);
    
    font-family: fantasy;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px var(--color-primary);
    
    border: 2rem solid var(--color-secondary);
    border-top: none;
    border-right: none;
    border-radius: 999999px;
    
    transition: transform .2s ease-in-out, background 1s, box-shadow 1s;
}

.theme-switch-icon:hover {
    transform: scale(1.1) translateX(1rem);
    color: var(--color-primary);
    box-shadow: 1rem 0 2rem 7rem var(--color-box-shadow);
    border-color: var(--color-primary);
    background: var(--color-secondary);
}

.cover {
    position: absolute;
    z-index: 1000;
    border-radius: 10rem;
    background: var(--color-box-pre);
    animation: theme-switch-cover 1s ease-in forwards;
}

@keyframes theme-switch-cover {
    0% {
        top: 20vh;
        left: 100vw;
        width: 0vw;
        height: 0vh;
        background: var(--color-box-pre);
    }
    15% {
        top: 20vh;
        left: -30vw;
        width: 10vw;
        height: 2vh;
        background: var(--color-box-pre);
    }
    30% {
        top: 20vh;
        left: -30vw;
        width: 40vw;
        height: 8vh;
        background: var(--color-box-shadow);
    }
    65% {
        top: 0vh;
        left: -30vw;
        width: 150vw;
        height: 50vh;
        background: var(--color-box-shadow);
    }
    80% {
        top: -50vh;
        left: -50vw;
        width: 150vw;
        height: 150vh;
        background: var(--color-box-shadow);
    }
    100% {
        top: 20vh;
        left: 100vw;
        width: 0vw;
        height: 0vh;
        background: var(--color-box-pre);
    }
}
/* @keyframes theme-switch-cover {
    0% {
        top: 19vh;
        left: 3vw;
        top: 20vh;
        left: 100vw;
        width: 0vw;
        height: 0vh;
        background: var(--color-box-pre);
    }
    15% {
        top: 20vh;
        left: -30vw;
        width: 150vw;
        height: 2vh;
        background: var(--color-box-pre);
    }
    30% {
        top: 20vh;
        left: -30vw;
        width: 150vw;
        height: 8vh;
        background: var(--color-box-shadow);
    }
    65% {
        top: -30vh;
        left: -30vw;
        width: 150vw;
        height: 50vh;
        background: var(--color-box-shadow);
    }
    100% {
        top: -50vh;
        left: -50vw;
        width: 150vw;
        height: 150vh;
        background: var(--color-box-shadow);
    }
} */

.signature {
    opacity: 50%;
    position: relative;
    top: -9rem;
    left: 16rem;

    font-family: serif;
    color: var(--color-primary);
    font-size: 2rem;
    text-shadow: 2px -2px 1px var(--color-secondary);
}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-primary);
    background: var(--color-secondary);

    height: 8rem;

    margin-top: -8rem;
    margin-bottom: 3rem;
    border: 1rem double var(--color-primary);
    /* background-color: var(--color-secondary); */
}

.state-info {
    position: absolute;
    overflow: hidden;
    width: inherit;
    top: 2rem;
}

.state-info__level {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2rem;
    color: var(--color-primary);
}
   
.state-info__game-over {
    height: 100%;
    margin-top: 12rem;
    opacity: 1;
}

.game-over-text {
    opacity: 0;
    text-align: center;
    margin-top: 20vh;
    background: none;
    /* font-size: 100px;  */
    font-size: 12rem;
    color: white;
}

